@import './reset.css';
@import './normalize.css';

.green-span-url {
   color: #cd3636;
   font-family: Inter;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;

   &:hover {
      cursor: pointer;
   }
}

.red-span-url {
   text-decoration: underline;
   color: red;

   &:hover {
      cursor: pointer;
   }
}

.list-my-storage {
   .ant-list-item {
      margin-top: 30px;
      box-shadow:
         0px 5px 30px 0px rgba(103, 110, 118, 0.08),
         0px 2px 15px 0px rgba(73, 75, 74, 0.15);
      border-radius: 16px;

      img {
         width: 104px;
         margin-right: 15px;
      }
   }
}

.orders-table-img {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 80px;
   height: 80px;
}

.header-button {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 10px;
   align-items: center;
   margin: 0 5px;

   &_label {
      line-height: 1;
      font-weight: 600;
      font-size: 12px;
      white-space: nowrap;
   }

   &:hover {
      cursor: pointer;
   }

   svg {
      font-size: 28px;
   }
}

.ant-table-thead {
   position: sticky;
   top: 0;
   z-index: 20;
}

.status-tag {
   line-height: 1;
   font-weight: 600;
   letter-spacing: 0.4px;
   font-size: 10px;
   padding: 3px 6px;
   text-transform: uppercase;
   height: auto;
}

.map-card {
   box-shadow:
      0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0px 0px 0px 1px rgba(103, 110, 118, 0.16),
      0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}

.rate-big {
   svg {
      font-size: 38px;
   }
}

.menu-divider {
   &::before {
      width: 22% !important;
   }

   span {
      font-size: 12px;
      font-weight: 500;
      color: #00000075;
   }
}

.ant-layout-sider-collapsed {
   .left-side-logo {
      width: 59px;
      overflow: hidden;
      background-position-x: 27px;
   }

   .menu-divider {
      .ant-divider-inner-text {
         font-size: 0;
      }
   }
}
.left-side-logo {
   color: #474a53;
   font-weight: 600;
   font-size: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 64px;
   width: 100%;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 144px;
   margin-bottom: 5px;
}
.left-side-logo.collapsed {
   width: 100%;
   display: flex;
   justify-content: center;
   font-size: 35px;
}

.auth-page {
   &_right {
   }
}

.log-description {
   .ant-descriptions-row {
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;

      .ant-descriptions-item {
         padding-bottom: 6px;
      }
   }
}
.notification-list {
   margin-top: -15px;

   .cart-list-item {
      flex-wrap: wrap;
      padding: 10px;
      border-radius: 6px;
      border: 0;
      margin: 10px 0;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      box-shadow:
         0px 1px 1px 0px rgba(0, 0, 0, 0.12),
         0px 0px 0px 1px rgba(103, 110, 118, 0.16),
         0px 2px 5px 0px rgba(103, 110, 118, 0.08);

      .ant-list-item-action {
         margin-top: 5px;
         margin-left: 0;
      }

      .ant-list-item-meta {
         width: 100%;

         &-title {
            color: #474a53 !important;
         }
      }
      &.active {
         background: rgb(105, 198, 243, 0.3);
      }
   }
}
.erp-header {
   background: #ffffff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px rgb(199 199 199 / 88%) solid;
   padding-right: 0;

   svg {
      color: #474a53;
   }
}

.erp-header-seller {
   padding: 0;
   height: 120px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(255, 255, 255, 1);
   padding-right: 0;
   box-shadow:
      0px 5px 30px 0px rgba(103, 110, 118, 0.08),
      0px 2px 15px 0px rgba(73, 75, 74, 0.15);
   position: sticky;
   top: 0;
   z-index: 1000;
   svg {
      color: #474a53;
   }

   &-items {
      display: flex;
      max-width: 90vw;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 56px;
      grid-column-gap: 15px;

      .search-container {
         height: 56px;
         max-width: 82%;
         grid-column-gap: 24px;
         width: 82%;
         padding: 4px 4px 4px 0;
         border-radius: 10px;

         display: flex;
         align-items: center;

         .header-logo {
            font-size: 48px;
            font-weight: 600;
            line-height: 43px;
            cursor: pointer;
            height: 100%;
            color: #24292e;
            font-family: Inter;
            display: flex;
            align-items: center;
         }

         .article-button-container {
            border: none !important;
            background: rgba(47, 148, 97, 1) !important;
            color: rgba(255, 255, 255, 1) !important;
            width: 160px;
            height: 56px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 16px;
            justify-content: center;
            gap: 10px;
            text-transform: none;
            box-shadow:
               0px 1px 1px 0px rgba(0, 0, 0, 0.12),
               0px 0px 0px 1px rgba(103, 110, 118, 0.16),
               0px 2px 5px 0px rgba(103, 110, 118, 0.08);

            .button-article {
               width: 112px;
               height: 24px;
               gap: 10px;
               display: flex;
               align-items: center;

               .button-article-iconimg {
                  color: white;
                  width: 18px;
                  height: 18px;
                  position: relative;
                  left: 2.19px;
               }

               p {
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 24px;
                  letter-spacing: 0em;
                  text-align: center;
               }
            }
         }

         .search-container-input {
            display: flex;
            height: 57px;
            max-width: 83%;
            width: 83%;
            align-items: center;
            border: 1px solid #9ea5ad;
            border-radius: 10px;
            justify-content: space-between;

            .custom-search-input {
               // max-width: 543;
               width: 84%;
               border: none !important;
               box-shadow: none !important;
               border-color: transparent;
               height: 55px;
               margin-left: 2px;
               font-weight: 400;
               line-height: 24px;
               letter-spacing: 0.5px;
               font-size: 16px;
            }
            .drawer-cart-button {
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: center;
               height: 52px;
            }
            .clear-search-button-container {
               width: 96px;
               display: flex;
               justify-content: space-between;
               margin-right: 4px;
               align-items: center;
               height: 48px;
            }
            .clear-icon-input {
               color: rgba(0, 0, 0, 0.45);
               cursor: pointer;
               width: 20px;
               height: 20px;
            }

            .search-button-input {
               background-color: #2f9461;
               height: 100%;
               width: 48px;
               line-height: 30px;
               display: flex;
               align-items: center;
               // margin-left: 15px;
               justify-content: center;
            }
         }
      }
   }
}

.stats-title-card {
   width: 100%;
   font-size: 16px;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.45);
}

.liga-pm-iframe {
   height: 650px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   margin: auto;
   padding: 0 7px;
   width: 1314px;

   .general-page {
      width: 100%;
      min-height: 80vh;
      display: flex;
      justify-content: space-between;
      gap: 40px;

      .categories-name {
         color: #24292e;
         font-family: Inter;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;
      }
   }
}

body {
   background: #f5f5f5;
}

.address_list {
   .ant-list-empty-text {
      display: none;
   }
   .ant-list-item-meta-content {
      display: flex;
      flex-direction: column;
      width: 100% !important;
   }
}

.description-comment-block {
   color: #9b9b9b;
   line-height: 18px;
   font-size: 13px;
}

.ant-modal-header {
   margin-bottom: 20px !important;
}

.driver-status-badge .ant-badge-status-dot {
   height: 9px !important;
   width: 9px !important;
}

.block-break-word {
   white-space: pre-wrap;
   word-wrap: break-word;
   word-break: break-all;
}

.menu-profile {
   border-left: 1px rgba(199, 199, 199, 0.88) solid;
   inset-inline-start: 0;
   padding: 6px 9px;
   width: 220px;
   margin-bottom: 0px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 64px;
   background: #dbdbdb33;
   border-bottom: 1px #474a53 solid;

   &:hover {
      cursor: pointer;
   }

   &_avatar {
      width: 40px;
      height: 40px;
   }

   &-info {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      color: #fff;
      max-width: 110px;
      height: 100%;

      justify-content: center;

      &_role {
         font-size: 10px;
         height: 16px;
         line-height: 13px;
         margin-top: 3px;
         letter-spacing: 0.3px;
      }

      &_login {
         color: #494b4a;
         font-family: Inter;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         line-height: 20px;
      }
   }
}

.stats-card-count-col {
   .ant-statistic {
      &-title {
         font-size: 16px;
         font-weight: 600;
      }
      &-content {
         display: flex;
         align-items: center;

         &-prefix {
            line-height: 18px;
            svg {
               color: rgba(0, 0, 0, 0.45);
               font-size: 18px;
            }
         }

         &-value {
            font-weight: 400;
            margin-left: 6px;
         }
      }
   }
}

.ql-container {
   min-height: 10rem;
   height: 100%;
   flex: 1;
   display: flex;
   flex-direction: column;
}

.ql-editor {
   height: 100%;
   flex: 1;
   overflow-y: auto;
   width: 100%;
}

.custom-row {
   width: 100%;
   // max-width: 1010px;
   gap: 30px;
   margin: 0 !important;
   // @media (max-width: 767px) {
   //    display: grid;
   //    grid-template-columns: repeat(2, 1fr);
   //    grid-template-rows: 1fr;
   //    grid-column-gap: 30px;
   // }

   // @media (min-width: 768px) {
   //    display: grid;
   //    grid-template-columns: repeat(3, 1fr);
   //    grid-template-rows: 1fr;
   //    grid-column-gap: 30px;
   // }

   .custom-col {
      width: 230px;
   }

   .custom-card {
      box-shadow:
         0px 5px 30px 0px rgba(103, 110, 118, 0.08),
         0px 2px 15px 0px rgba(73, 75, 74, 0.15) !important;

      font-size: 14px;
      min-height: 276px;
      width: 230px;
      display: flex;
      border-radius: 16px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;

      .ant-card-body {
         text-align: left;
         padding: 0 10px;
         display: flex;
         justify-content: flex-start;
         width: 100%;
      }

      .ant-card-cover {
         display: flex;
         justify-content: center;
         width: 210px;
         height: 146px;
         margin-top: 10px;
      }

      .image-name-container {
         .card-background-image {
            margin: auto;
            height: 100px;
            width: 140px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 0;
         }
      }
      .image-name-container-name {
         color: #24292e;
         text-overflow: ellipsis;
         font-family: Inter;
         font-size: 14px;
         font-style: normal;
         font-weight: 400;
         line-height: 16px;
         margin: 12px 0;
      }
   }
}
.storage-background-image {
   width: 91px;
   height: 71px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.spinner-container {
   min-height: 40vh;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.menu-items {
   height: 52px;
   width: 52px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   color: #494b4a;
   cursor: pointer;
   font-family: Inter;
   &:hover {
      //Граница svg при ховере
      .menu-items-icon {
         filter: brightness(0) saturate(100%) invert(35%) sepia(65%) saturate(1357%)
            hue-rotate(91deg) brightness(90%) contrast(88%);
      }
      .menu-profile-info_login {
         color: rgba(47, 148, 97, 1);
      }
   }
}

.header-container {
   width: 1440px;
   display: flex;
   justify-content: center;
   box-shadow: 0px 5px 30px 0px rgba(103, 110, 118, 0.08);

   box-shadow: 0px 2px 15px 0px rgba(73, 75, 74, 0.15);
}

.menu-container {
   height: 52px;
   width: 306px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .menu-items-icon {
      width: 24px;
      height: 24px;
   }

   @media (max-width: 770px) {
      display: flex;
      justify-content: space-around;
      height: 100px;
      align-items: center;
      grid-column-gap: 10px;
      grid-row-gap: 1px;
      width: 100vw;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1000;

      box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
      background-color: white;
   }
}

.categories-list-container {
   width: 230px;
   height: auto;
   border-radius: 16px;
   border: 1px solid black;
   box-shadow: 0px 5px 30px 0px rgba(103, 110, 118, 0.08);
   box-shadow: 0px 2px 15px 0px rgba(73, 75, 74, 0.15);
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1.2fr repeat(7, 1fr);
   grid-column-gap: 0px;
   grid-row-gap: 20px;
   justify-content: center;
}

.categories-filter-container {
   margin-top: 20px;
   max-width: 250px;
   width: 100%;
   border-radius: 16px;

   .title {
      font-size: 18px;
      color: rgba(36, 41, 46, 1);
      border-radius: 16px 16px 0 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      font-weight: 600;
   }

   .categories-container {
      padding: 18px 0px;
      height: auto;
      .ant-checkbox-group {
         display: flex;
         flex-direction: column;
      }
      .category-item {
         margin-bottom: 16px;
         font-family: Inter;
         .ant-checkbox-wrapper {
            .ant-checkbox + span {
               margin-left: 3px;
               font-family: Inter;
               font-size: 16px;
               font-weight: 400;
               line-height: 24px;
               letter-spacing: 0em;
               text-align: left;

               color: rgba(36, 41, 46, 1);
               &:hover {
                  color: #2f9461;
               }
            }
         }

         .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #2f9461;
            border-color: #2f9461;
         }
         .ant-checkbox-checked::after {
            border-color: #fff;
         }
      }
   }
}

.item-quantity-badge .ant-badge-count {
   background: none;
   color: #9ea5ad;
   font-family: Inter, sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
}

.add-storage-button {
   border: none !important;
   background: #2f9461 !important;
   color: rgba(255, 255, 255, 1) !important;
   border-radius: 10px;
   width: 202px;
   height: 40px;
   box-shadow:
      0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0px 0px 0px 1px rgba(103, 110, 118, 0.16),
      0px 2px 5px 0px rgba(103, 110, 118, 0.08) !important;

   &.added {
      border-radius: 10px;
      background: #6ad09d !important;

      box-shadow:
         0px 1px 1px 0px rgba(0, 0, 0, 0.12),
         0px 0px 0px 1px rgba(103, 110, 118, 0.16),
         0px 2px 5px 0px rgba(103, 110, 118, 0.08);

      &:hover,
      &:focus,
      &:active {
         background: #6ad09d !important;
      }
   }
}
.add-storage-button:hover,
.add-storage-button:focus,
.add-storage-button:active {
   background: none !important;
}

.ant-list-item-meta-description div {
   height: 64px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   .storage-item-name {
      color: #24292e !important;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      height: 18px;
      margin: 0;
   }
}
.storage-item-input {
   width: 160px;
   .ant-input {
      height: 30px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid #ced2d6;
      text-align: center;
   }

   .ant-input-group-addon {
      background: #f5f5f5;
      border-radius: 10px;
      border: 1px solid #ced2d6;
      color: #797b7a;
      font-family: Inter;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      padding: 0, 0, 0, 12px;
   }
}

.storage-space-container {
   width: 362px;
   height: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .inner-container {
      width: 180px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 5px;

      .storage-item-input {
         width: 100px;
         height: 30px;
         text-align: center;
         border-radius: 10px;
         border: 1px solid #ced2d6;
         background: #fff;
      }
   }

   .storage-cart-button {
      width: 150px;
      height: 40px;
      background: #2f9461 !important;
      color: rgba(255, 255, 255, 1);
      border-radius: 10px !important;
      border: 1px solid #ced2d6 !important;
      text-transform: none;
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      padding: 10px 18px;
      line-height: 20px;
   }
}

.select-and-delete-container {
   width: 100%;
   height: 24px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   .select-all-container,
   .delete-selected-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .select-all-container {
      width: 113px;
   }

   .select-all-text,
   .delete-text {
      cursor: pointer;
      color: #24292e;
      font-family: Inter, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
   }

   .delete-selected-container {
      width: 169px;
      color: #cd3636;
   }

   .delete-icon {
      cursor: pointer;
      width: 24px;
      height: 24px;
      color: #cd3636;
   }
}
.storage-title {
   color: #24292e;
   font-family: Inter;
   font-size: 36px;
   font-style: normal;
   font-weight: 600;
   line-height: 130%;
   letter-spacing: -0.72px;
   .storage-items-quantity-badge .ant-badge-count {
      color: #9ea5ad;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      background: none;
   }
}
.storage-item-title {
   color: #24292e !important;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
}

.cart-list-item-meta .ant-list-item-meta-description {
   display: flex;
   align-items: center;
   width: 350px;
   height: 60px;
   justify-content: space-between;
}

.address-item {
   height: 150px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .ant-descriptions-row {
      display: flex;

      height: 50px;
   }
}

.seller-cart-list-item {
   margin-bottom: -15px !important;
   width: 100%;
   height: 80px;
   display: flex;
   padding: 10px 20px 10px 20px !important;
   align-items: center;
   border-radius: 16px;
   background: #fff;
   box-shadow:
      0px 5px 30px 0px rgba(103, 110, 118, 0.08),
      0px 2px 15px 0px rgba(73, 75, 74, 0.15);
   .ant-list-item-action > li {
      padding: 0 !important;
   }

   .ant-list-item-meta-description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 350px;

      .item-description-container {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 253px;
         height: 60px;
         margin-bottom: 5px;

         p {
            margin: 0;
            color: #24292e;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
         }
      }
   }

   &-input-container {
      width: 180px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: -5px;
      .seller-cart-list-item-input {
         width: 100px;
         height: 30px;
         text-align: center;
         border-radius: 10px;
         border: 1px solid #ced2d6;

         background: #fff;
      }
   }
}
.cart-send-order {
   width: 100%;
   padding: 16px 24px;
   margin-top: 13px;
   border-radius: 10px;
   height: 53px;
   color: rgba(255, 255, 255, 1) !important;
   background-color: rgba(47, 148, 97, 1) !important;
}

.minus-outlined {
   display: flex;
   justify-content: end;
   width: 24px;
   height: 24px;
   color: rgba(29, 27, 32, 1);
}
.plus-outlined {
   display: flex;
   justify-content: start;
   width: 24px;
   height: 24px;
   color: rgba(29, 27, 32, 1);
}

.cart-drawer {
   padding: 20px, 20px, 20px, 20px;

   .ant-drawer-title {
      order: 1;
      position: relative;
      background: #fff;
      z-index: 1000;
      height: 69px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .cart-drawer-title-container {
         height: 31px;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      .clear-cart-button {
         color: rgba(205, 54, 54, 1);
         font-family: Inter;
         font-size: 14px;
         font-style: normal;
         font-weight: 500;
         height: 18px;
         cursor: pointer;
      }
   }

   .ant-drawer-header {
      display: flex;
      justify-content: space-between;
      border: none;
      position: relative;
      padding: 16px 24px 0 24px;
   }
   .ant-drawer-close {
      display: none;
   }
   .ant-drawer-body {
      padding: 0 24px 24px 24px;
      margin-top: -17px;
      &::-webkit-scrollbar {
         width: 6px;
      }

      &::-webkit-scrollbar-thumb {
         border-radius: 2px;
         background: #ced2d6;
      }

      &::-webkit-scrollbar-track {
         background-color: #f5f5f5;
      }
   }

   .address-section {
      display: flex;
      width: 100%;
      justify-content: space-between;
      height: 24px;
      align-items: center;
      margin-top: 50px;
   }
}

.custom-list-item {
   height: 66px;
   padding: 10px 0;
   border: none !important;
   margin-bottom: 5px;
}

.item-title {
   color: #24292e;
   font-family: 'Inter', sans-serif;
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
}

.item-description {
   height: 18px !important;
   color: #24292e;
   font-family: 'Inter';
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
}

.custom-input-container {
   position: relative;
   width: 300px;
   height: 40px;
   border: 1px solid #d9d9d9;
   background-color: white;
   border-radius: 10px;
   margin-top: 34px;

   .ant-form-item-label {
      position: absolute;
      padding: 0 5px 0 5px;
      top: -14px;
      left: 10px;
      background-color: white;

      .ant-form-item-required {
         height: 16px;
         color: #494b4a;
         font-family: Inter;
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 16px;
      }
   }
   .ant-form-item-label > label {
      height: 16px;
      color: #494b4a;
      font-family: Inter;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
   }
   .ant-form-item-label > label::after {
      content: none;
   }

   .custom-input {
      border: none;
      background-color: transparent;
      color: #676e76;
      font-family: Inter, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0.5px;
      width: 300px;
      margin-top: 6px;
      padding: 0 0 0 15px;
   }
}
.profile-address-container {
   max-width: 600px;
   .profile-added-address {
      width: 600px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
         color: #000;
         text-align: center;
         font-family: Inter;
         font-size: 16px;
         font-style: normal;
         font-weight: 600;
         line-height: 24px;
      }
   }

   .ant-list {
      .ant-list-item {
         border: none;
         height: 66px;
         width: 600px;
         display: flex;
         align-items: center;

         .ant-space {
            width: 69px;
            height: 35px;
            gap: 8px;
            display: flex;
            justify-content: space-around;
            align-items: end;

            img {
               cursor: pointer;
            }
         }
      }

      .profile-address-list {
         height: 46px;
         display: flex;
         align-items: center;

         .profile-address {
            height: 18px;
         }

         .ant-list-item-meta-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 46px;
         }

         .ant-list-item-meta .ant-list-item-meta-title {
            max-width: 501px;
            height: 18px;
            color: #24292e;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%;
         }

         .ant-list-item-meta-description {
            max-width: 501px;
            height: 18px;
         }

         .ant-descriptions-item-content {
            color: #24292e;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            align-self: stretch;
         }
      }
   }
}

.save-and-exit-container {
   width: 1300px;
   display: flex;
   justify-content: space-between;
   height: 44px;
   align-items: center;
   margin-top: 60px;

   .profile-save-button {
      width: 195px;
      height: 44px;
      border-radius: 10px;
      text-transform: none;
      color: #fff;
      text-align: center;
      background-color: rgba(47, 148, 97, 1);
      font-family: 'Inter';
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;

      &.danger-button {
         width: 150px;
         background: #cd3636;
         z-index: 1000;
      }
   }
}

.vertical-line {
   position: absolute;
   left: 39%;
   transform: translateX(-50%);
   top: 20px;
   height: 333px;
   width: 1px;
   background-color: #ced2d6;
}
.profile-title {
   color: #000;
   font-family: Inter;
   font-size: 16px;
   font-style: normal;
   font-weight: 600;
   line-height: 24px;
}
.add-address {
   color: rgba(47, 148, 97, 1);
   font-family: Inter;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   cursor: pointer;
}

// .order-tabs {
//    .ant-tabs-tab {
//       // padding-left: 5px !important;

//       // &-active {
//       //    background: #00000005 !important;
//       // }
//    }
// }
