@import './reset.css';
@import './normalize.css';

.green-span-url {
   text-decoration: underline;
   color: green;

   &:hover {
      cursor: pointer;
   }
}

.list-my-storage {
   .ant-list-item {
      img {
         width: 104px;
         margin-right: 15px;
      }
   }
}

.orders-table-img {
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 80px;
   height: 80px;
}

.header-button {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 10px;
   align-items: center;
   margin: 0 5px;

   &_label {
      line-height: 1;
      font-weight: 600;
      font-size: 12px;
      white-space: nowrap;
   }

   &:hover {
      cursor: pointer;
   }

   svg {
      font-size: 28px;
   }
}

.ant-table-thead {
   position: sticky;
   top: 0;
   z-index: 20;
}

.status-tag {
   line-height: 1;
   font-weight: 600;
   letter-spacing: 0.4px;
   font-size: 10px;
   padding: 3px 6px;
   text-transform: uppercase;
   height: auto;
}

.map-card {
   box-shadow:
      0px 1px 1px 0px rgba(0, 0, 0, 0.12),
      0px 0px 0px 1px rgba(103, 110, 118, 0.16),
      0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}

.rate-big {
   svg {
      font-size: 38px;
   }
}

.menu-divider {
   &::before {
      width: 22% !important;
   }

   span {
      font-size: 12px;
      font-weight: 500;
      color: #00000075;
   }
}

.ant-layout-sider-collapsed {
   .left-side-logo {
      width: 59px;
      overflow: hidden;
      background-position-x: 27px;
   }

   .menu-divider {
      .ant-divider-inner-text {
         font-size: 0;
      }
   }
}
.left-side-logo {
   color: #474a53;
   font-weight: 600;
   font-size: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 64px;
   width: 100%;
   cursor: pointer;
   background-repeat: no-repeat;
   background-position: center;
   background-size: 144px;
   margin-bottom: 5px;
}
.left-side-logo.collapsed {
   width: 100%;
   display: flex;
   justify-content: center;
   font-size: 35px;
}

.auth-page {
   &_right {
   }
}

.log-description {
   .ant-descriptions-row {
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;

      .ant-descriptions-item {
         padding-bottom: 6px;
      }
   }
}
.notification-list {
   margin-top: -15px;

   .ant-list-item {
      flex-wrap: wrap;
      padding: 10px;
      border-radius: 6px;
      border: 0;
      margin: 10px 0;
      flex-direction: column;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      box-shadow:
         0px 1px 1px 0px rgba(0, 0, 0, 0.12),
         0px 0px 0px 1px rgba(103, 110, 118, 0.16),
         0px 2px 5px 0px rgba(103, 110, 118, 0.08);

      .ant-list-item-action {
         margin-top: 5px;
         margin-left: 0;
      }

      .ant-list-item-meta {
         width: 100%;

         &-title {
            color: #474a53 !important;
         }
      }
      &.active {
         background: rgb(105, 198, 243, 0.3);
      }
   }
}
.erp-header {
   background: #ffffff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px rgb(199 199 199 / 88%) solid;
   padding-right: 0;
   svg {
      color: #474a53;
   }
}

.erp-header-seller {
   background: #ffffff;
   border-bottom: 1px rgb(199 199 199 / 88%) solid;
   padding-right: 0;
   svg {
      color: #474a53;
   }

   &-items {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header-logo {
         color: #474a53;
         font-size: 38px;
         font-weight: 600;
      }

      > .menu {
         width: 100%;
      }
   }
}

.stats-title-card {
   width: 100%;
   font-size: 16px;
   font-weight: 600;
   color: rgba(0, 0, 0, 0.45);
}

.liga-pm-iframe {
   height: 650px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   max-width: 990px;
   margin: auto;
   padding: 0 20px;
   width: 100%;
}

body {
   background: #f5f5f5;
}

.address_list {
   .ant-list-empty-text {
      display: none;
   }
   .ant-list-item-meta-content {
      display: flex;
      flex-direction: column;
      width: 100% !important;
   }
}

.description-comment-block {
   color: #9b9b9b;
   line-height: 18px;
   font-size: 13px;
}

.ant-modal-header {
   margin-bottom: 20px !important;
}

.driver-status-badge .ant-badge-status-dot {
   height: 9px !important;
   width: 9px !important;
}

.block-break-word {
   white-space: pre-wrap;
   word-wrap: break-word;
   word-break: break-all;
}

.menu-profile {
   border-left: 1px rgba(199, 199, 199, 0.88) solid;
   inset-inline-start: 0;
   padding: 6px 9px;
   width: 220px;
   margin-bottom: 0px;
   margin-left: 20px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   height: 64px;
   background: #dbdbdb33;
   border-bottom: 1px #474a53 solid;

   &:hover {
      cursor: pointer;
   }

   &_avatar {
      width: 40px;
      height: 40px;
   }

   &-info {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      color: #fff;
      max-width: 110px;
      height: 100%;

      justify-content: center;

      &_role {
         font-size: 10px;
         height: 16px;
         line-height: 13px;
         margin-top: 3px;
         letter-spacing: 0.3px;
      }

      &_login {
         font-size: 14px;
         color: #474a53;
         text-overflow: ellipsis;
         overflow: hidden;
         font-weight: 500;
         white-space: nowrap;
         display: inline-block;
         vertical-align: middle;
         max-width: 100px;
         line-height: 18px;
      }
   }
}

.stats-card-count-col {
   .ant-statistic {
      &-title {
         font-size: 16px;
         font-weight: 600;
      }
      &-content {
         display: flex;
         align-items: center;

         &-prefix {
            line-height: 18px;
            svg {
               color: rgba(0, 0, 0, 0.45);
               font-size: 18px;
            }
         }

         &-value {
            font-weight: 400;
            margin-left: 6px;
         }
      }
   }
}

.custom-col {
   margin-bottom: 20px;

   .custom-card {
      font-size: 14px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-weight: 500;

      .card-background-image {
         height: 150px;
         width: 100%;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         border-radius: 8px 8px 0 0;
      }
   }
}

.storage-background-image {
   width: 100px;
   height: 90px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border: 1px grey solid;
   border-radius: 3px;
}

// .order-tabs {
//    .ant-tabs-tab {
//       // padding-left: 5px !important;

//       // &-active {
//       //    background: #00000005 !important;
//       // }
//    }
// }
